$text-color: red;

/* Color Theme Swatches in Hex */
$Gusto-1-hex: #C1D9A9;
$Gusto-2-hex: #98D936;
$Gusto-3-hex: #87BF34;
$Gusto-4-hex: #76A62E;
$Gusto-5-hex: #F2F2F2;

/* Color Theme Swatches in RGBA */
$Gusto-1-rgba: rgba(192,216,169, 1);
$Gusto-2-rgba: rgba(151,216,54, 1);
$Gusto-3-rgba: rgba(135,191,51, 1);
$Gusto-4-rgba: rgba(118,165,46, 1);
$Gusto-5-rgba: rgba(242,242,242, 1);

/* Color Theme Swatches in HSLA */
$Gusto-1-hsla: hsla(90, 38, 75, 1);
$Gusto-2-hsla: hsla(84, 68, 53, 1);
$Gusto-3-hsla: hsla(84, 57, 47, 1);
$Gusto-4-hsla: hsla(84, 56, 41, 1);
$Gusto-5-hsla: hsla(0, 0, 95, 1);

